
#MainMenu {
    visibility: hidden;
}

#geracao-de-necessidade{
    text-align: center;
    border: 1px solid;
    border-color: rgba(1, 65, 128, 0.2);
    border-radius: 20px;
    padding: 5px;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1%;
    letter-spacing: 2px;
}
.stAppDeployButton > button{
    visibility: hidden;
}

.st-emotion-cache-7czcpc{
    padding: 10px;
    margin-top: 20%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
}
.st-emotion-cache-hretyt {
    min-height: 5px;
}
.block-container {
    padding-top: 1rem;
    padding-bottom: 0rem;
}

.stRadio {
    border: 1px solid;
    border-color: rgba(1, 65, 128, 0.2);
    border-radius: 10px;
    padding: 3px;
}

.eqpbrs {
    font-family: 'Courier New', Courier, monospace;
}

